* text=auto
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text diff=javascript
*.jsx text diff=javascript
*.json text
*.md text
*.yml text
*.yaml text
*.html text
*.css text
*.scss text
*.less text
*.svg text
*.xml text
*.lock binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.otf binary 